@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    th {
        @apply bg-dark-grey text-white text-left py-2.5 ;
    }
    th:nth-child(1) {
        @apply text-center rounded-l-lg
    }
    th:last-child {
        @apply rounded-r-lg
    }
    td{
        @apply  py-2 text-gray-500
    }
    td:nth-child(1) {
        @apply w-1/5 text-current
    }
}

@layer components {
    .flex-container {
        @apply ml-2.5 flex items-center
    }
    .category-image {
        @apply bg-[#4d4c4b] w-8 h-8 rounded-full flex justify-center mr-2.5
    }
    .image-size{
        @apply w-8 h-8
    }
    .row-data{
        @apply bg-[#E2E4EC] py-2.5 text-gray-500 h-14
    }
}

